numpy==2.5.3
pandas==2.3.3
scikit-learn==1.5.2
scipy==1.17.1
matplotlib==3.11.2
contourpy==1.4.0
seaborn==0.13.2
fastapi[all]==0.141.1
uvicorn==0.53.0
python-multipart==0.0.32
pydantic==2.13.5
pytest==9.1.1
pycodestyle==2.14.0
python-keycloak==5.0.0
ipykernel